body {
    @font-face {
        font-family: 'Moonspace';
        src: url('ścieżka/do/pliku/Moonspace.woff2') format('woff2'),
             url('ścieżka/do/pliku/Moonspace.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    

        --s: 50px;
        --c: #191b22;
        --_s: calc(2*var(--s)) calc(2*var(--s));
        --_g: 35.36% 35.36% at;
        --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
        background: 
          radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
          radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
          radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
          radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
          repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
          radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
        background-attachment: fixed;

      
      }
      .tabela{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .text1{
        display: flex;
        justify-content: end;
      }
      body h1 {
        background-color: white;
        border-radius: 10px;
        width: 16%;
      }
      table {
        width: 50%;
        background-color: rgba(255, 255, 255, 0.9); 
        border-radius: 20px;
        color: #000; 
    }